body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding-inline: 2em;
  padding-top: 2.5em;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  gap: 1em;
}

.fa-key {
  font-size: 2em;
  position: relative;
  top: 7px;
}


#form_container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}

#username:focus {
  box-shadow: 0 0 0 .25rem var(--orange);
  border-color: rgba(0, 0, 0, .2);
}

#profile-image:focus {
  box-shadow: 0 0 0 .25rem var(--orange);
  border-color: rgba(0, 0, 0, .2);
}


#mail:focus {
  box-shadow: 0 0 0 .25rem var(--orange);
  border-color: rgba(0, 0, 0, .2);
}

#password:focus {
  box-shadow: 0 0 0 .25rem var(--orange);
  border-color: rgba(0, 0, 0, .2);
}

#password-check:focus {
  box-shadow: 0 0 0 .25rem var(--orange);
  border-color: rgba(0, 0, 0, .2);
}

#h1 {
  font-size: 2.5em;
  font-weight: var(--900);
  border-bottom: .2em solid var(--orange);
  padding-bottom: .5em;
  color: var(--black);
}

#main-title-box {
  position: relative;
}

#requirement-field {
  position: absolute;
  right: 15px;
  bottom: -2px;
  font-weight: var(--700);
}

.user-requirements,
.password-requirements {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

#form {
  font-weight: var(--700);
}

.row .form-control {
  border-color: var(--black);
  border-radius: 0;
}

.row #profile-image {
  border-color: none;
}

.profile-image-box #file-helper {
  font-weight: var(--900);
}

.password-box .check-password-box {
  display: flex;
  gap: .5em;
}

#submit {
  background-color: black;
  border-radius: 0;
  font-weight: var(--700);
  width: 100%;
}

#password-check {
  position: relative;
  top: 2px;
}
