{% extends "layout.twig" %}

{% block name %}{% endblock %}
{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}
{% block title %}
	<title>Erreur
		{{code is defined ? code : ''}}
		| Blog professionnel</title>
{% endblock %}

{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/error.css">
{% endblock %}

{% block content %}

	<header>
		<nav class="menu">
			<a href="?selection=homepage"><img class="logo" src="../public/assets/images/logo/logo.png" height="60" alt=""></a>

		</nav>
	</header>
	<div class="container-fluid" id="error">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12" id="errors">
				{% if code is defined %}

					<div class="error-box">
						{% if code == 500 %}
							<img src="../public/assets/images/code_error/500.jpg" alt="500 code error">
						</a>
					{% elseif code == 401 %}

						<img src="../public/assets/images/code_error/401.jpg" alt="401 code error">
					{% elseif code == 403 %}
						<img src="../public/assets/images/code_error/403.jpg" alt="403 code error">
					{% endif %}

				{% endif %}
				<a href="index.php?selection=homepage">Retour vers la page d'accueil</a>
			</div>
		</div>

	</div>
</div></div>{% endblock %}
