{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}
	<title>
		Notification|Blog professionnel
		
	</title>
{% endblock %}
{% block css_page %}
	{# <link rel="stylesheet" href="../public/assets/css/article.css"> #}
{% endblock %}

{% block content %}
{% endblock %}