{% extends "layout.twig" %}
{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}
{% block title %}
	<title>Inscription - Blog professionnel</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/sign_up.css">
{% endblock %}


{% block content %}

	{# HEADER #}
	<header>
		<nav class="menu">
			<a href="?selection=homepage"><img class="logo" src="../public/assets/images/logo.png" height="60" alt=""></a>
			<ul>
				<li><a href="?selection=sign_in"><i class="fa-solid fa-key"></i></a></li>
			</ul>
		</nav>
	</header>

	{# FORM CONTAINER #}
	<div class="container-fluid mb-5" id="form_container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="main-title-box">
				<h1 class=" text-center mb-5 " id="h1">Inscription</h1>
				<p id="requirement-field">Tous les champs * sont requis</p>
			</div>

			{# FORM #}
			<form id="form" class="pt-3" action="#" method="post">
				<div
					class="row">

					{# USER #}
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="mb-3 user-box">
							<label for="user" class="form-label">Utilisateur *</label>
							<input class="form-control" type="text" name="user" id="user" aria-describedby="user-helper user-helper-2 user-helper-3 user-helper-4" placeholder="Lovelace">
							<p id="user-helper" class="form-text text-dark pt-3" required>Le nom d'utilisateur doit commencer par :</p>
							<div class="user-requirements">
								<p id="user-helper-2" class="form-text text-dark">- Une lettre majuscule</p>
								<p id="user-helper-3" class="form-text text-dark">- Ne doit pas contenir de symboles</p>
								<p id="user-helper-4" class="form-text text-dark">- Ne doit pas excéder plus de 10 caractères</p>
							</div>
						</div>
						<p id="error-user"></p>


						{# FILE #}

						<div class="mb-3 profile-image-box">
							<label for="profile-image" class="form-label">Image de profil *
							</label>
							<input type="file" class="form-control" name="profile_image" id="profile-image" aria-describedby="file-helper" required>
							<p id="file-helper" class="text-danger pt-3">Seuls les fichiers de type : jpg, jpeg , png et web sont acceptés</p>
							<p id="error-file"><?= $error_profile_image ?? null ?></p>

						</div>


						{# MAIL #}

						<div class="mb-3 mail-box">
							<label for="mail" class="form-label">Adresse email *</label>
							<input type="email" class="form-control" name="mail" id="mail" placeholder="johndoe@example.fr" required>
							<p id="error-mail"><?= $error_mail ?? null ?></p>
						</div>


						{# PASSWORD #}

						<div class="mb-3 password-box">
							<label for="password" class="form-label">Mot de passe *</label>
							<input type="password" class="form-control" name="password" id="password" aria-describedby="password-helper password-helper-2 password-helper-3 password-helper-4" required>
							<div class="check-password-box pt-3">

								<label class="form-check-label" for="password-check">
									Afficher le mot de passe
								</label>
								<input class="form-check-input" type="checkbox" id="password-check">
							</div>
							<p id="password-helper" class="form-text text-dark pt-3">Le mot de passe doit être composé des éléments suivants :</p>
							<div class="password-requirements ">
								<p id="password-helper-2" class="form-text text-dark">- Une lettre majuscule</p>
								<p id="password-helper-3" class="form-text text-dark">- Un chiffre</p>
								<p id="password-helper-3" class="form-text text-dark">- 8 caractères minimum</p>
							</div>
							<p id="error-password"><?= $error_password ?? null ?></p>

						</div>

						<input type="submit" class="btn text-white " name="submit" id="submit" value="Envoyer">
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="../public/assets/js/seePassword.js"></script>
{% endblock %}
